.profile__info-edit-button {
  width: 24px;
  height: 24px;

  align-self: flex-end;

  margin-bottom: 5px;
  padding: 0;

  background-color: #000;
  background-size: cover;
  border: 0;
  background-repeat: no-repeat;
  background-image: url(../../../images/edit-button.svg);
}

@media screen and (max-width: 645px) {
  .profile__info-edit-button {
    width: 18px;
    height: 18px;
  }

}