.header__logo {
  width: 142px;
  height: 33px;

  margin: 45px 0 41px;

  background-image: url(../../../images/header-logo.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 879px) {
  .header__logo {
    width: 108px;
    height: 25px;

    margin: 28px 0 32px 27px ;
  }

}