.popup__form {
  min-width: 430px;

  display: flex;
  flex-direction: column;

  background-color: #fff;
  background-size: cover;
  border-radius: 10px;
}



@media screen and (max-width: 545px) {
  .popup__form {
    min-width: 282px;
  }

}
