.element__trash {
  width: 18px;
  height: 19px;

  position: absolute;
  top: 20px;
  right: 20px;

  padding: 0;

  cursor: pointer;

  background-image: url(../../../images/Trash.svg);
  background-size: cover;
  background-repeat: no-repeat;
  border: 0;
  background-color: rgba(0, 0, 0, 0);

  transition: .2s;
}

.element__trash:hover {
  opacity: 0.6;
}