.popup__field {
  width: 83%;
  min-width: 238px;
  min-height: 27px;

  margin: 0 auto 30px;
  padding: 0;

  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);

  outline: none;

  font-weight: 400;
  font-size: .875rem;
}

.popup__field:last-of-type {
  margin: 0 auto 48px;
}

@media screen and (max-width: 402px) {
  .popup__field:last-of-type {
    margin: 0 auto 45px;
  }

}